<!DOCTYPE html>
<html>
<head>
  <title>ServerStatus</title>
  <%= stylesheet_link_tag    "server_status/application", media: "all" %>
  <%= javascript_include_tag "server_status/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
